<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/seat.css">
</head>
<body>
<div class="movie-container">
    <h2>HomeBoxOffice</h2>
    <label>Select a Movie:</label>
    <select id="movie">
        <option value="Select a movie">Select a Movie</option>
        <option value="15">Wonder Women 1984</option>
        <option value="10">Avenger: Endgame</option>
        <option value="12">Joker</option>
        <option value="8">Toy Story 4</option>
    </select>
</div>

<ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>Available</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Selected</small>
    </li>
    <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
    </li>
</ul>

<div class="container">
    <div class="screen"></div>

    <div class="row">
        <div class="seat">A1</div>
        <div class="seat">A2</div>
        <div class="seat">A3</div>
        <div class="seat">A4</div>
        <div class="seat">A5</div>
        <div class="seat">A6</div>
        <div class="seat">A7</div>
        <div class="seat">A8</div>
        <div class="seat">A9</div>
        <div class="seat">A10</div>
    </div>
    <div class="row">
        <div class="seat">B1</div>
        <div class="seat">B2</div>
        <div class="seat">B3</div>
        <div class="seat occupied">B4</div>
        <div class="seat occupied">B5</div>
        <div class="seat">B6</div>
        <div class="seat">B7</div>
        <div class="seat">B8</div>
        <div class="seat">B9</div>
        <div class="seat">B10</div>
    </div>
    <div class="row">
        <div class="seat">C1</div>
        <div class="seat">C2</div>
        <div class="seat" style="color: goldenrod">C3
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">C4
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">C5
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">C6
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">C7
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">C8
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat">C10</div>
        <div class="seat">C9</div>
    </div>
    <div class="row">
        <div class="seat">D1</div>
        <div class="seat">D2</div>
        <div class="seat" style="color: goldenrod">D3
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">D4
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">D5
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">D6
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">D7
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">D8
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat">D9</div>
        <div class="seat">D10</div>
    </div>
    <div class="row">
        <div class="seat">E1</div>
        <div class="seat">E2</div>
        <div class="seat" style="color: goldenrod">E3
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">E4
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">E5
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">E6
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">E7
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">E8
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat">E9</div>
        <div class="seat">E10</div>
    </div>
    <div class="row">
        <div class="seat">F1</div>
        <div class="seat">F2</div>
        <div class="seat" style="color: goldenrod">F3
            <span style="font-size: 12px;">&#9733;</span>
        </div>
        <div class="seat" style="color: goldenrod">F4
            <span style="font-size: 12px;">&#9733;</span>
        </div>
        <div class="seat" style="color: goldenrod">F5
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">F6
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">F7
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat" style="color: goldenrod">F8
            <span style="font-size: 12px;">&#9733;</span></div>
        <div class="seat">F9</div>
        <div class="seat">F10</div>
    </div>
    <div class="row">
        <div class="seat">G1</div>
        <div class="seat">G2</div>
        <div class="seat">G3</div>
        <div class="seat">G4</div>
        <div class="seat">G5</div>
        <div class="seat">G6</div>
        <div class="seat">G7</div>
        <div class="seat">G8</div>
        <div class="seat">G9</div>
        <div class="seat">G10</div>
    </div>
    <div class="row">
        <div class="seat">H1</div>
        <div class="seat">H2</div>
        <div class="seat">H3</div>
        <div class="seat">H4</div>
        <div class="seat">H5</div>
        <div class="seat">H6</div>
        <div class="seat">H7</div>
        <div class="seat">H8</div>
        <div class="seat">H9</div>
        <div class="seat">H10</div>
    </div>
</div>

<p class="text">
    You have selected <span id="count">0</span> movies for price of $<span
        id="total"
>0</span
>
</p>
<script src="/js/seat.js"></script>
</body>