<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<footer class="bg-dark py-4 text-white " style="width: 100%;
                                                background-image: url('/image/bg2.jpg'); /* Đường dẫn đến ảnh của bạn */
                                                  background-size: cover; /* Hiển thị ảnh theo kích thước cover của thẻ */
                                                  background-position: bottom;
                                                " th:fragment="footer">

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <img src="/image/logoCinema.png" alt="" style="height: 80px; width: 210px;">
                </div>

                    <nav class="d-flex">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" style=" color: white !important;font-size: 20px;" href="#"><b>Chính sách</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style=" color: white !important;font-size: 20px;" href="/lich-chieu"><b>Lịch chiếu</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style=" color: white !important;font-size: 20px;" href="/list-blog"><b>Tin tức</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style=" color: white !important;font-size: 20px;" href="#"><b>Hỏi đáp</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style=" color: white !important;font-size: 20px;" href="#"><b>Liên hệ</b></a>
                            </li>
                        </ul>
                    </nav>

                <div>
                    <div>
                        <a href="https://emoji.gg/emoji/4026-girlyell"><img
                                src="https://cdn3.emoji.gg/emojis/4026-girlyell.gif" width="64px" height="64px"
                                alt="GirlYell"></a>
                        <i class="bi bi-facebook" style="margin-right: 30px;"></i>
                        <i class="bi bi-instagram" style="margin-right: 30px;"></i>
                        <i class="bi bi-twitter" style="margin-right: 30px;"></i>
                        <i class="bi bi-youtube" style="margin-right: 30px;"></i>

                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
</body>
</html>